/*@import url('https://fonts.googleapis.com/css?family=Gafata&display=swap');
*/
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');

@font-face {
    font-family: 'stable';
    src: url(../fonts/stable.ttf);
}

:root {
    --vermelho: #c92337;
    --preto: #333333;
}

* {
    padding: 0px;
    margin: 0px;
    border: none;
}

body {
    font-family: "Montserrat";
}

h1, h2, h3, h4, h5, h6 {
    /* font-family: 'Bebas Neue', cursive;*/
    font-family: 'stable';
}

.btn {
    margin: 18px;
    border-top: 2px solid var(--vermelho);
    border-bottom: 2px solid var(--vermelho);
    color: var(--preto);
    padding: 4px 8px 4px 8px;
    font-family: 'Bebas Neue', cursive;
}

.btn:hover {

    border-top: 2px solid transparent;
    border-bottom: 2px solid transparent;
    color: white;
    background-color: var(--vermelho);

}

img {
    max-height: 100%;
    max-width: 100%;
}

tr.header {
    background: #ff5559;
    color: #fff;
    text-transform: uppercase;
    font-weight: bold;
}

tr {
    text-transform: uppercase;
    font-weight: bold;
}

table {
    width: 100%;
}

th {
    padding: 5px;
}

td {
    padding: 5px;
    border-bottom: 1px solid black !important;
}

.tab-content-group {
    margin-top: 20px;
}

.form-group {
    margin-top: 15px;
}

/*fim css geral*/


/*minha conta*/
.logout {
    color: white;
}

.logout .fa {
    color: var(--vermelho);
}


.nav-conta {
    padding-top: 40px;
    background-color: var(--preto);
    padding-left: 10%;
}

.nav-conta-wrap {
    width: 300px;
}

.nav-conta ul {
    margin-top: 40px;
    list-style-type: none;
}

.nav-conta ul li {
    font-size: 20px;
    margin-top: 22px;
    margin-bottom: 14px;
}

.nav-conta ul li a {
    color: white;
    font-size: 22px;
    text-decoration: none !important;
    padding-left: 4px;
    transition-duration: 0.1s;
}

.nav-conta ul li a:hover, .nav-conta ul li a.active {
    border-left: 4px solid var(--vermelho);
}

.nav-conta ul li a.active:hover {
    border-left: 4px solid white;
}

.nav-conta .title {
    color: white;
}

.tab-content {
    padding: 10px 30px 10px 30px;
    max-width: 700px;
    padding-top: 40px;
}

.tab-content input {
    border: 2px solid #e4e4e4;
    background-color: #fbfbfb;
    height: 35px;
}

.tab-content label {
    color: var(--preto);

}

.info .btn-remove {
    margin-top: 14px;
    background-color: var(--vermelho);
    border-radius: 8px;
    padding: 6px 10px 6px 10px;
    color: white;
    text-decoration: none;
}

.photo-edit-wrap {
    width: 100px;
    height: 100px;
    position: relative;
    margin-right: 20px;
}

.photo {
    border-radius: 50%;
    border: 2px solid var(--vermelho);
    width: 100px;
    height: 100px;
    overflow: hidden;


}

.photo img {
    object-position: center;
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.edit {
    position: absolute;
    bottom: 0px;
    right: 4px;
    border-radius: 50%;
    height: 30px;
    width: 30px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--vermelho);
}


.container-user-settings {
    padding-left: 12%;
}

.logout {
    font-size: 22px;
    font-size: 24px;
    margin-top: 30px;
}

.logout i {
    color: var(--vermelho);
}

.logout p {
    padding: 0px !important;
    margin: 0px 0px 0px 10px;

}

/************/


/*geral*/
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css?family=Montserrat:500');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
    scroll-behavior: smooth;
    /*user-select: none;*/
}

:root {
    --ver: #FF5559;
    --bran: #ffffff;
}

a {
    text-decoration: none !important;
    color: #000 !important;
}

#conta {
    cursor: pointer;
}

a:hover {
    color: var(--ver) !important;
}

/*navbar*/
header {
    width: 100%;
    position: fixed;
    top: 0;
    background-color: #fff;
    display: flex;
    align-items: center;
    z-index: 999;
    height: 90px;
    border-bottom: 3px solid #c92337;
    transition: all 0.6s ease-in-out;
    justify-content: space-between;

}

.navbar-esq {
    width: 25%;
    display: flex;
    align-items: center;
    justify-content: center;
    align-content: center;
}

.logo {
    max-width: 25%;
    flex-grow: 1;
}

.link-logo {
    text-decoration: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    align-content: center;
}

.navbar-dir {
    width: 25%;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    align-content: center;
    font-weight: bold;
}

/* vertical line */
.vl {
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    border: 1px solid #ebebeb;
    height: 300px;
    background-color: #f7f7f7;

}

/* text inside the vertical line */
.vl-innertext {
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    background: transparent;
    padding: 20px;
    color: #797979;
}

.fullvh {
    height: 100vh;
}

.login-wrapper {
    display: flex;
    align-content: center;
    justify-content: center;
    align-items: center;
}

.login-regular {
    width: 100%;
    padding: 30px;
}

.login-socials {
    width: 100%;
    padding: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    flex-direction: column;
}

form {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    width: 70%;
    margin: auto;
}

.social {
    width: 60%;
    display: flex;
    align-items: center;
    justify-content: center;
    align-content: center;
    padding: 10px 5px 10px 5px;
    border: solid 2px black;
    margin: 10px;
    background: #f7f7f7;
}

.social:hover {
    background-color: #ebebeb;
    cursor: pointer;
}

.nome-social {
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
    align-content: center;
    font-weight: bold;
    text-align: center;
}

.logo-social {
    width: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
}

.logo-social img {
    width: 32px;
}

input {
    padding: 10px 5px 10px 5px;
    border: none;
    border-bottom: 1px solid black;
    margin-bottom: 20px;
    background: #f7f7f7;
    width: 100%;
}

label {
    font-weight: bold;
    font-size: smaller;
    margin: 10px 0px 10px 0px;
    display: flex !important;
    justify-content: space-between;
    align-items: center;

}

input:focus {
    outline: none;
}

input.btn-login {
    border: none;
    margin: 0;
    margin-top: 10%;
    font-weight: bold;
    padding: 15px;
    background: var(--ver);
    color: #fff;
}

input.btn-login:disabled {
    background-color: #ebebeb;
    color: #d6d6d6;
}

.btn-login:hover {
    opacity: 0.8;
}

body {
    background-color: #f7f7f7 !important;
}

.title-login {
    margin-top: 120px;
    --bs-gutter-x: 0rem !important;

}

.frgt {
    font-size: 10px;
    text-decoration: none;
    color: #000;
    font-weight: bold;
    float: right;
    margin-top: 5px;

}

.frgt:hover {
    color: var(--ver);
}


.trouble {
    margin-top: 50px !important;
    font-size: 12px;
    font-weight: bold;
    color: #000;
}

.trouble:hover {
    color: var(--ver);

}

.tit {
    font-weight: bold;
    /* font-family: 'Bebas Neue', cursive;
   font-size: 45px;*/
}

/*password*/

.pass-container {
    position: relative;

}

input#password {
    width: 100%;
}

input#password_registo {
    width: 100%;
}

input#password_confirm {
    width: 100%;
}

i#eye {
    position: absolute;
    top: 28%;
    right: 4%;
    cursor: pointer;
}

i#eye_registo {
    position: absolute;
    top: 28%;
    right: 4%;
    cursor: pointer;
}

i#eye_confirm {
    position: absolute;
    top: 28%;
    right: 4%;
    cursor: pointer;
}

/*registo*/

.botoes {
    display: flex;
    margin-top: 10%;
    justify-content: space-between;
}

button {
    border: none;
    margin: 0;
    margin-top: 10%;
    font-weight: bold;
    padding: 15px;
    background: var(--ver);
    color: #fff;
    width: 100%;
    cursor: pointer;
}

button:hover {
    opacity: 0.8;
}

#prevBtn {
    background-color: #bbbbbb;
}

.tab {
    display: none;
}

/* Make circles that indicate the steps of the form: */
.step {
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbbbbb;
    border: none;
    border-radius: 50%;
    display: inline-block;
    opacity: 0.5;
}

.step.active {
    opacity: 1;
}

input.invalid {
    background-color: #ffdddd;
}

.step.finish {
    background-color: var(--ver);
}

.btn-registo {
    padding: 10px !important;
}

.dir {
    width: 50%;

}

.left {
    background: #ebebeb;
    width: 50%;
    height: 100%;
    z-index: -1;

}

/*footer*/

.footer-bg {
    clip-path: polygon(0 90%, 100% 82%, 100% 100%, 0% 100%);
    width: 100%;
    background: #c92337;
    bottom: 0;
    height: 60%;
    position: absolute;
}

.text-center {
    display: flex;
    justify-content: center;

}

.linha-ajuda {
    clip-path: polygon(0 86%, 100% 63%, 100% 100%, 0% 100%);
    background: #c92337;
    width: 20% !important;
    height: 20px;

}



@media only screen and (max-width: 800px) {
    .login-wrapper {
        flex-wrap: wrap;
    }

    .vl {
        display: none;
    }

    header {
        position: sticky;
    }
}

.background {
    display: flex;
    top: 0;
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: -1;
}

/*navbar_geral*/
.navbar-first-container {
    background-color: #1a1a1a;
    color: white;
    padding: 5px 0;
}

.navbar-first-container p, .container-login a, .navbar-third-container ul li a {
    font-weight: 600;
    margin: 0 10px;
    color: white !important;
    font-size: 15px;
}

.navbar-first-container i {
    margin-right: 10px;
}

.navbar-first-container .line {
    background-color: white;
    width: 2px;
    height: 20px;
}

.container-login a:hover {
    color: #FF5559 !important;
}

.navbar-second-container {
    padding: 10px 0;
    background-color: #ebebeb;
}

.navbar-third-container {
    background-color: #FF5559;
    padding: 5px 0;
}

.navbar-third-container ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

/*inscrever*/

/*geral*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
    scroll-behavior: smooth;
    /*user-select: none;*/
}

:root {
    --main-color: #FF5559;
}


.background-foto {
    height: 100vh;
    width: 100%;
    background-image: linear-gradient(90deg, rgba(0, 0, 0, 0.7091211484593838) 100%, rgba(0, 0, 0, 1) 100%), url(../img/socios.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    align-items: center;
}

.tit-principal {
    text-align: center;
    color: white;
    font-weight: bolder;
    vertical-align: middle;
}

.cartao-socio {
    text-align: center;

}

.botao-inscreve {
    background-color: var(--main-color);
    padding: 10px 15px 10px 15px;
    text-transform: uppercase;
    font-weight: bold;
    text-decoration: none;
    color: #fff;
    transition: all 0.6s ease-in-out;

}

.botao-inscreve:hover {
    opacity: 0.8;
    color: #fff;
    transform: scale(1.1);
}

.row-vant {
    display: flex;
    align-items: center;
    align-content: center;
    max-width: 60%;
    justify-content: space-between;
    margin: auto;
    /* text-align: center; */
    margin-top: 30px;
    margin-bottom: 30px;
}

.icon-vant {
    color: var(--main-color);
    font-size: 70px;

}

.vantagens {
    background-color: #f4f2f2;
}

.vantagem {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    justify-content: center;
    text-align: center;
    font-weight: bold;
    align-content: center;

}

.tit-vant {
    color: var(--main-color);
    font-weight: bolder;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;

}

.fullpage-row {
    height: 100vh;
    width: 100%;
    display: flex;
}

.metade {
    width: 100%;
    text-align: center;
    padding: 30px;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    align-items: center;

}

.metade h1 {
    font-weight: bolder;
    display: flex;
    position: absolute;
    align-content: flex-start;
    height: 100%;
    padding-top: 50px;

}

.login-regular {
    width: 100%;
    padding: 20px;
}

.tabela-preco {
    padding: 20px;
    width: 100%;

}

button {
    border: none;
    margin: 0;
    margin-top: 10%;
    font-weight: bold;
    padding: 15px;
    background: var(--main-color);
    color: #fff;
    width: 100%;
    cursor: pointer;
}

button:hover {
    opacity: 0.8;
}

#prevBtn {
    background-color: #bbbbbb;
}

.tab {
    display: none;
}

/* Make circles that indicate the steps of the form: */
.step {
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbbbbb;
    border: none;
    border-radius: 50%;
    display: inline-block;
    opacity: 0.5;
}

.step.active {
    opacity: 1;
}

input.invalid {
    background-color: #ffdddd;
}

.step.finish {
    background-color: var(--ver);
}


.btn-registo {
    padding: 10px !important;
}

input {
    padding: 10px 5px 10px 5px;
    border: none;
    border-bottom: 1px solid black;
    margin-bottom: 20px;
    background: #f7f7f7;
    width: 100%;

}

label {
    font-weight: bold;
    font-size: smaller;
    margin: 10px 0px 10px 0px;
    display: flex !important;
    justify-content: space-between;
    align-items: center;

}

input:focus {
    outline: none;
}

input.btn-login {
    border: none;
    margin: 0;
    margin-top: 10%;
    font-weight: bold;
    padding: 15px;
    background: var(--main-color);
    color: #fff;
}

input.btn-login:disabled {
    background-color: #ebebeb;
    color: #d6d6d6;

}

.botoes {
    display: flex;
    margin-top: 10%;
    justify-content: space-between;
}