@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@font-face {
    font-family: 'payback';
    src: url('fonts/payback/PaybAck.ttf');
}

@font-face {
    font-family: 'livvic';
    src: url('fonts/livvic/Livvic-SemiBold.ttf');
}

@font-face {
    font-family: 'stable';
    src: url('fonts/stable/Stable.ttf');
}

@font-face {
    font-family: 'peach';
    src: url('fonts/peach/Peach\ Days.ttf');
}

@font-face {
    font-family: 'franklin';
    src: url('fonts/franklin/FRAHV.TTF');
}

* {
    padding: 0;
    margin: 0;
    border: 0;
}

 ::selection {
    color: white;
    background: #C92337;
}

 ::-webkit-scrollbar {
    width: 12px;
}

 ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey;
    border-radius: 10px;
}

 ::-webkit-scrollbar-thumb {
    background: #C92337;
    border-radius: 10px;
}

 ::-webkit-scrollbar-thumb:hover {
    background: #FF2359;
}

html {
    scroll-behavior: smooth;
}

img {
    max-width: 100%;
    max-height: 100%;
}

body {
    background-color: white;
    font-family: 'stable';
    height: 100%;
}

button {
    font-family: 'payback';
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'stable';
    color: white;
}

.logo {
    position: absolute;
    top: 25px;
    left: 95px;
    max-width: 160px;
}

@media only screen and (max-width: 800px) {
    .logo {
        left: 20px !important;
        max-width: 120px;
        z-index: 5000;
    }
}

.btn {
    background-color: #C92337;
    border-radius: 10px;
    color: white;
    padding: 6px 12px 8px 12px;
    font-size: 24px;
    transition: all .2s ease-in-out;
    font-family: 'stable';
}

.btn .icon {
    height: 30px;
}

.btn:hover {
    transform: scale(1.2);
    background-color: #FF2359;
    color: white;
}

.menu-lateral {
    position: fixed;
    right: 0;
    top: 40%;
    z-index: 50;
    display: flex;
    align-items: center;
}

.menu-lateral .social-lateral {
    background-color: white;
    border-radius: 20px 0px 0px 20px;
    margin-right: -2px;
    display: flex;
    flex-direction: column;
    padding: 10px 12px 10px 12px;
    text-align: center;
}

.menu-lateral .social-lateral .icon {
    margin: 6px 0px 6px 0px;
}

.menu-lateral .social-lateral .icon img {
    transition: transform .7s ease-in-out;
    max-width: 32px;
    max-height: 32px;
}

.menu-lateral .social-lateral .icon img:hover {
    transform: rotate(360deg);
}

.menu-lateral .nav-scroll {
    margin-right: 10px;
    display: flex;
    flex-direction: column;
}

.menu-lateral .nav-scroll .dot {
    content: "";
    display: block;
    display: grid;
    right: 0;
    height: 16px;
    width: 16px;
    background-color: none;
    border-radius: 50%;
    border: 1px solid #FF2359;
    animation-duration: 0.2s;
    margin-bottom: 3px;
    margin-top: 3px;
}

.menu-lateral .nav-scroll .dot.active:before {
    content: "\A";
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background: #FF2359;
    display: grid;
    top: 50%;
    margin: auto;
}

.home {
    background-image: url(../images/background.png);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 80px;
    position: relative;
    min-height: 98vh;
    background-color: #C92337;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 96%);
}

.home .header .title {
    font-family: 'peach';
    font-size: 45px;
}

.home .header .sub {
    font-family: 'peach';
    font-size: 40px;
}

.home .header .minimal {
    font-size: 16px;
}

.home .frase-motivacional {
    margin-top: 30px;
    font-size: 30px;
}

@keyframes typing {
    .home from {
        width: 0;
    }
    .home to {
        width: 100%;
    }
}

@keyframes blink-caret {
    .home from,
    .home to {
        border-color: transparent;
    }
    .home 50% {
        border-color: #C92337;
    }
}

.home .header-links {
    position: absolute;
    bottom: 80px;
    text-align: center;
}

.home .header-links a {
    font-size: 'stable';
    color: white;
    font-size: 20px;
    text-decoration: none;
}

.home .header-links .arrowd {
    background: url(../images/arrowd.png);
    width: 30px;
    height: 30px;
    background-repeat: no-repeat;
    display: block;
    background-size: cover;
    display: inline-block;
    margin-left: 10px;
    animation-name: floating;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}

@keyframes floating {
    0% {
        transform: translate(0, -10px);
    }
    50% {
        transform: translate(0, 10px);
    }
    100% {
        transform: translate(0, -10px);
    }
}

.countdown {
    flex-wrap: wrap;
    padding-top: 15px;
}

.countdown .card {
    margin-left: 10px;
    margin-right: 10px;
    height: 100px;
    width: 85px;
    background-color: white;
    border-radius: 8px;
    display: flex;
    align-content: center;
    justify-content: center;
    font-size: 50px;
}

.countdown .card span {
    color: #002b3a;
}

.countdown .dual-timer {
    display: flex;
    align-items: center;
}

.countdown .frame-timer {
    text-align: center;
}

.countdown .frame-timer .legenda {
    font-family: 'livvic';
    color: white;
}

.countdown .frame-timer.days {
    margin-right: 25px;
}

.countdown .separador {
    display: flex;
    align-items: center;
    justify-items: center;
}

.countdown .separador span {
    font-size: 40px;
    color: white;
    font-family: 'livvic';
}

.form-subscrever {
    padding-left: 20px;
    padding-right: 20px;
}

.form-subscrever .termos {
    padding-left: 10px;
}

.form-subscrever .termos p {
    color: #333333;
    font-family: 'franklin';
}

.form-subscrever .termos a {
    color: #C92337;
}

.form-subscrever .termos a:hover {
    color: #FF2359;
}

.form-subscrever .title {
    color: #C92337;
    font-size: 38px;
    font-family: 'payback';
}

.form-subscrever .bt-sub {
    background-color: #FF2359;
    border-radius: 20px;
    color: white;
    padding: 8px;
    font-size: 24px;
}

.form-subscrever .input_group {
    margin-bottom: 20px;
}

.form-subscrever .input_group .icon {
    border-radius: 20px;
    margin-left: -10px;
    z-index: 5;
    position: absolute;
    background-color: white;
}

.form-subscrever .input_group .icon .fa {
    margin: 10px 12px 10px 7px;
    font-size: 33px;
    color: #FF2359;
}

.form-subscrever .input_group label {
    border-radius: 10px;
    background-color: #FF2359;
    font-size: 20px;
    color: white;
    position: absolute;
    z-index: 2;
    height: 50px;
    padding: 10px 18px 0px 53px;
}

.form-subscrever .input_group label .icon {
    background-color: white;
    display: flex;
    align-items: center;
    justify-items: center;
}

.form-subscrever .input_group input {
    width: calc(100% - 105px);
    margin-left: 105px;
    position: relative;
    border: 2px solid #333333;
    height: 45px;
    border-radius: 14px;
    margin-top: 2.5px;
    padding: 0px 10px 0px 45px;
}

@media (max-width: 576px) {
    .form-subscrever .input_group label {
        padding: 5px 12px 0px 40px;
    }
    .form-subscrever .input_group label,
    .form-subscrever .input_group .icon {
        height: 40px;
        font-size: 22px;
    }
    .form-subscrever .input_group label .fa,
    .form-subscrever .input_group .icon .fa {
        font-size: 24px;
    }
    .form-subscrever .input_group input {
        width: calc(100% - 95px);
        margin-left: 95px;
        height: 40px;
        font-size: 12px;
    }
}

.subscrever-sec {
    margin-top: 140px;
    margin-bottom: 140px;
}

.img-limit {
    max-width: 450px;
}

.img-limit-s {
    max-width: 320px;
}

.vantagens h2 {
    font-family: 'payback';
    font-size: 38px;
    color: #C92337;
}

.vantagens li {
    margin-top: 14px;
    margin-bottom: 14px;
    font-size: 22px;
    list-style-type: none;
    color: #C92337;
}

.vantagens .check-mark {
    background: url(../images/check-mark.png);
    width: 40px;
    height: 40px;
    background-repeat: no-repeat;
    display: block;
    background-size: cover;
    display: inline-block;
    margin-left: 10px;
}

.estatisticas {
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: #C92337;
    padding-top: 130px;
    padding-bottom: 130px;
    clip-path: polygon(0 0, 100% 5%, 100% 100%, 0 95%);
    background-image: url(../images/bacgroundb.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.estatisticas .estatistica {
    margin-top: 30px;
}

.estatisticas .icon {
    width: 100px;
    margin: auto;
}

.estatisticas .icon-s {
    width: 85px !important;
    padding-bottom: 15px;
}

.estatisticas .valor {
    font-family: 'payback';
    color: white;
    font-size: 40px;
}

.estatisticas .descricao {
    font-size: 33px;
}

.doar {
    margin-top: 40px;
    margin-bottom: 40px;
}

.testemunhos {
    padding-top: 80px;
}

.testemunhos .title {
    color: #C92337;
    font-size: 38px;
    font-family: 'payback';
}

.testemunhos .testemunho {
    padding-top: 80px;
    padding-bottom: 60px;
    width: 280px;
    padding-left: 20px;
    padding-right: 20px;
}

.testemunhos .testemunho .foto {
    overflow: hidden;
    margin: auto;
    border: 2px solid #C92337;
    width: 120px;
    height: 120px;
    border-radius: 50%;
    object-fit: contain;
    object-position: center;
}

.testemunhos .testemunho .nome {
    color: #C92337;
    font-size: 24px;
}

.testemunhos .testemunho .citacao {
    font-family: 'franklin';
    font-size: 15px;
    color: #002b3a;
}

footer {
    padding-top: 8px;
    padding-bottom: 8px;
    margin-top: 30px;
    background-color: #C92337;
}

footer .links .link {
    margin: 0px 10px 0px 10px;
}

footer .links .link a {
    color: white;
}

.swiper-button-next,
.swiper-button-prev {
    color: #C92337 !important;
}

.swiper-button-next:after,
.swiper-button-prev:after {
    font-weight: bold;
}

@media (max-width: 768px) {
    .separador {
        display: none !important;
    }
    .countdown .frame-timer {
        margin-bottom: 15px;
        margin-left: 10px;
        margin-right: 10px;
    }
    .countdown .card {
        margin-left: 5px;
        margin-right: 5px;
        height: 80px;
        width: 65px;
        font-size: 40px;
    }
    .link:nth-child(1),
    .link:nth-child(2) {
        display: none;
    }
    .header-links {
        bottom: 50px !important;
    }
    .frase-motivacional {
        margin-top: 8px !important;
        font-size: 22px !important;
    }
}

.categorias {
    margin-top: 50px;
}

.categorias .categoria {
    margin-bottom: 60px;
    margin-left: 20px;
    margin-right: 20px;
    transition-duration: 0.2s;
}

.categorias .categoria:hover {
    transform: scale(1.2);
}

.categorias .categoria a:hover {
    text-decoration-color: red !important;
    text-decoration: revert;
}

.categorias .categoria h4 {
    margin-top: 10px;
    text-align: center;
    color: #333333;
    padding-bottom: 8px;
}

.categorias .categoria .photo {
    max-width: 200px;
    height: 250px;
}

.categorias .categoria .photo img {
    max-width: 220px;
}

.title-stable {
    font-family: 'stable';
}

.title-stable .primary {
    color: #FF2359;
}

.title-stable .sub {
    color: #333333;
    margin-top: 10px;
    margin-bottom: 40px;
}

.btn-loja .i {
    margin-left: 10px;
}