@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css?family=Montserrat:500');



* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Bebas Neue', cursive;
  scroll-behavior: smooth;
}

body {
  background-color: white;
}

header {
  width: 100%;
  height: 90px;
  background-color: rgba(0, 0, 0, 0.918);
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: center;
  align-items: center;
  position: sticky;
  top: 0;
}

span{
  color: #fc3131;
}

.parte-cima-banner{
  height: 15%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.parte-baixo-banner{
  height: 70%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}



.logo-container img {
  width: 70px;
  height: 70px;

}

.accordion {
  background-color: transparent;
  color: rgb(43, 43, 43);
  cursor: pointer;
  padding: 18px;
  width: 100%;
  text-align: left;
  border: none;
  outline: none;
  transition: 0.4s #fc3131;
  font-size: 23px;
  border-bottom: 1px solid rgba(203, 203, 203, 0.499);
  
}

.accordion:hover{
  border-bottom: 1px solid #fc3131;
}

.active {
  background-color: transparent;
  color: #fc3131;
  border-color: transparent;
  
}

.active:hover{
  border: 0px;
}

.panel.active2{
  border-bottom: 1px solid #fc3131;
 
}

.panel {
  padding: 0 18px;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
  width: 100%;
  
}

.panel p{
  font-family: "Montserrat", sans-serif;
  margin-bottom:5px;
}

.accordion:after {
  content: '\02795' ;
  font-size: 13px;
  color: #777;
  float: right;
  margin-left: 5px;
  
}

.active:after {
  content: "\2796"; 
}


.section-faqs{
  width: 100%;
  height: auto;
  padding-left: 300px;
  padding-right: 300px;
  display: flex;
   flex-direction: column;
    align-items: center;
}

.conteudo-faqs {
  height: auto;
  width: 100%;
  display: flex;
  flex-direction: column;
  z-index: 0;
}

.imagem-inicio {
  background-image: url(../img/fundo-faqs.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 450px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
}


.texto-banner{
  color: white;
  font-size: 85px;
}

.imagem-inicio p{
color: white;
font-size: 20px;
}

h1{
  margin-bottom: 60px;
  margin-top: 60px;
  font-size: 50px;
}

h2{
  margin-bottom: 60px;
  margin-top: 60px;
  font-size: 50px;
}

.fale-conosco{
  width: 100%;
  height: 400px;
  background-color: white;
  padding-left: 180px;
  padding-right: 180px;
  padding-top: 90px;
  padding-bottom: 90px;
}


.imagem-fale-conosco {
  background-image: url(../img/fundo-fale-conosco.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  align-content: center;
}

.lado-esquerdo{
  width: 55%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 50px;
}

.lado-direito{
  width: 45%;
  height: 100%;
}


.titulo-fale-conosco{
  color: white;
  font-size: 50px;
  
}

.texto-fale-conosco p{
  color: white;
  font-size: 15px;
     font-family: "Montserrat", sans-serif;
}

.btn-section{
  margin-top: 30px;
  
}

.btn-send {
  width: 200px;
  height: 40px;
  background-color: #fc3131;
  border: 0px solid;
  color: white;
  font-size: 15px;
  padding: 10px;
     font-family: "Montserrat", sans-serif;
  font-weight: bold;
  letter-spacing: 1px;
  cursor: pointer;
}

.btn-send:hover {
  background-color: #fd6a6a;
  color: white;
  transition: background-color 1s 100ms;

}
