@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;1,100;1,200;1,300;1,400;1,500;1,600&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    scroll-behavior: smooth;
}

.container_banner {
    height: 100vh;
    background-image: linear-gradient(90deg, rgb(0 0 0 / 50%) 100%, rgb(0 0 0) 100%), url(IMG/gqwtqj3dtpbpe6oerjcw.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

nav {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.container_logo img {
    width: 65%;
}

.container_brands_number {
    display: flex;
}

.container_extra {
    padding: 10px;
    height: 70px;
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: white;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}

.container_extra i {
    font-size: 40px;
    color: black;
    padding: 10px;
}

.container_extra img {
    width: 70px;
}

.container_number {
    margin-left: 70px;
    height: 70px;
    display: flex;
    align-items: center;
    background-color: black;
    padding: 10px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}

.container_number p {
    color: #FF5559;
    font-weight: 600;
    font-size: 20px;
}

.container_call {
    display: flex;
    justify-content: center;
    color: white;
    margin-top: 70px;
}

.calltoaction_btn {
    text-align: center;
    width: 25%;
    padding: 15px;
    color: white;
    background-color: #FF5559;
    border-radius: 10px;
    margin-top: 10px;
}

.calltoaction_left {
    margin: 50px 50px 0 60px;
}

.calltoaction_left h2 {
    margin-top: 10px;
    font-weight: 400;
}

.calltoaction_right h1 {
    text-align: center;
    position: relative;
}

.calltoaction_right img {
    margin-top: -55px;
}

.calltoaction_right {
    transform: scale(1.05);
    margin: 0 60px 0 0;
    transition: all 1s ease;
}

.calltoaction_right:hover {
    transform: scale(1.1);
    transition: all 1s ease;
}

.container_produtos {
    display: flex;
    justify-content: center;
    background: linear-gradient(90deg, rgba(0, 0, 0, 1) 0%, rgba(85, 85, 85, 1) 100%);
}

.produto {
    width: 33.3333%;
}

.produto img {
    width: 100%;
    filter: brightness(60%);
}

.produtos_texts {
    display: flex;
    position: absolute;
    z-index: 999;
    color: white;
    flex-direction: column;
    align-items: center;
    height: 350px;
    justify-content: space-between;
}

.produtos_texts p {
    cursor: pointer;
    padding: 10px;
    border-bottom: 3px solid #FF5559;
    border-top: 3px solid #FF5559;
}

.produtos_texts h1 {
    font-size: 40px;
    margin-top: 30px;
}

.container_extra_info {
    background: linear-gradient(90deg, rgba(0, 0, 0, 1) 0%, rgba(85, 85, 85, 1) 100%);
    display: flex;
    flex-direction: column;
    color: white;
}

.container_extra_info h1 {
    margin: auto;
    margin-bottom: 25px;
    margin-top: 25px;
}

.container_cartas {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.carta1, .carta2, .carta3 {
    width: 33%;
    margin: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container_cartas h3 {
    font-size: 25px;
}

.destaque {
    color: #FF5559;
}

.container_cartas p {
    cursor: pointer;
    color: #ffffffb0;
    border-bottom: 1px solid;
}